Options -Indexes

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !dispatch.php
RewriteRule ^(.*?)(?:\/(.*))?$ /dispatch.php?controller=$1&action=$2 [NC,L,QSA]
